/*========= Google fonts =========*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*========= Variables CSS =========*/
:root {
    /* Color */
    --backgr-color: linear-gradient(rgb(189, 71, 71) 25vh, rgb(245, 215, 215) 100vh);
    --backgr-zone1: rgb(197, 101, 101);
    --backgr-zone2: rgb(245, 215, 215);
    --backgr-circle: rgb(245, 215, 215);
    --backgr-nav-color: rgb(189, 71, 71);
    --backgr-proj: rgb(189, 71, 71);
    --text-body-color: black;
    --text-nav-color: white;
    --title-bg-color: rgb(247, 233, 235);
    --title-color: black;

    /* Font size */
    --text-size-nav: 1.3em;
    --text-size-nav-citation : 0.8em;
    --text-size-body: 1.2em;
    --text-size-big-title: 1.5em;
    --title-mini-size: 1.2em;

    /* Size of elements */
    --width-story: 75vw;
}
/*========= Comportement de base =========*/
html {
    scroll-behavior: smooth;
}

body {
    /* background-image: var(--backgr-color)  ; */
    color: var(--text-body-color);
    margin: 0; 
}

.sidebar{
    font-family: 'Archivo Black', sans-serif;
}

a.nav_link {
    text-decoration: none;
    color: var(--text-color);
}
a {
    color: white;
}

ul {
    list-style: none;
}

.logo_linkedin {
    filter: invert(100%);
}

.zone {
    min-height: 100vh;
    padding: 2%;
}

.big_title {
    font-family: 'Archivo Black', sans-serif;
    font-size: var(--text-size-big-title);
    background-color: var(--title-bg-color);
    color: var(--title-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 40px;
    margin: 20px 10%
}

.card {
    width: 50%;
    margin-bottom: 30px;
    position: relative;
}

.card_title, .title_mini {
    font-family: 'Archivo Black', sans-serif;
    font-size: var(--title-mini-size);
    background-color: var(--title-bg-color);
    color: var(--title-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 40px;   
}

.card_title {
    margin: 10px 10%;
    width: auto;
    cursor: pointer;
    border: 5px var(--title-bg-color) solid;
}

.short_desc {
    margin: auto 10%;
    color: white;
}

.title_mini {
    align-self: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 2%;
}

.proj_img {
    max-height: 50vh;
    max-width: 100%;
    margin: 30px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    background-color: rgba(238, 118, 118, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5;
}

.close {
    cursor: pointer;
    display: flex;
    position: relative;
    top: 1%;
    left: calc(5vw + 180px);
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0;
    background-color: steelblue;
    border: solid black;
    opacity: 1;
    font-size: 35px;
    font-weight: bolder;
    transform: translate( -50%, 0) rotate(45deg);
    z-index: 6;
}

/*========= Navbar =========*/
.sidebar {
    position: fixed;
    background-color: var(--backgr-nav-color);
    width: 180px;
    height: 100vh;
    margin: auto;
    font-size: var(--text-size-nav);
    z-index: 20;
    border-right: 5px white solid;
}


.nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-nav-color);
}

.nav_head {
    display: flex;
    flex-direction: column;
    text-align:center;
    
    
}

.photo_nav {
    position: relative;
    top: -5px;
    height: 110px;
    clip-path: circle();
}

.nav_title {
    margin: 0;
    position: relative;
    top:-15px;
}

.nav_list{
    padding-left: 10px;
    flex:2;
    flex-direction: column;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.nav_link {
    margin-left: 10px;
}

.nav_item {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.nav_logo {
    height: 28px;
}

.nav_footer {
    font-family: 'Archivo', 'sans-serif';
    font-size: var(--text-size-nav-citation);
    font-style: italic;
    padding: 10px;
}

/* Zone Centrale */

.true_body {
    margin-left: 180px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--text-size-body);
    /* background-image: url(Images/petales.png); */
    /* background-size: 600px; */
}

/* Accueil */
.home {
    background-color: var(--backgr-zone1);
    /* background-image: url(Images/petales.png);
    background-size: 600px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.4em;
}

.bg_cerisier {
    position: absolute;
    bottom: 28%;
    left: -8vh;
    width: 80vw;
}
.img_cerisier {
    height: 100%;
    width: 100%;
}
.line {
    height: 10px;
    background-color: white;
    margin: 0 0 20px 0;
    width: calc(80vw - 180px);
}
.right_line {
    position: relative;
    left: 10vw;
}
.left_line {
    position: relative;
    left: -10vw;
}

.circle {
    position: absolute;
    top: -200px;
    right: -200px;
    display: block;
    border-radius: 100%;
    min-height: 500px;
    min-width: 500px;
    height: 40vw;
    width: 40vw;
    margin: 0;
    background: whitesmoke;
    box-shadow: 0px 0px 10px 4px white;
}
.text_et_logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 12vh;
    text-align: center;
    z-index: 1;
}
.group_logo {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    min-width: 600px;
    margin-bottom: 10px;
}
.logo_accueil {
    height: 80px;
    z-index: 1;
}

.logo_accueil:hover {
    transform: translate(0%, -30%) scale(1.2);
    transition: 0.5s;
}
.logo_django {
    transform: scale(1.4);
}
.logo_django:hover {
    transform: translate(0%, -30%) scale(1.6);
}

/* Trigonométrie SOH CAH TOA  Ancien positionnement*/
/* .logo_django {
    top:110.676%;
    left: 5.916%;
    transform: translate(-50%, -50%);
}

.logo_css {
    top:26.824%;
    left: 121.329%;
    transform: translate(-50%, -50%);
}

.logo_js {
    top:110.676%;
    left: 94.083%;
    transform: translate(-50%, -50%);
}

.logo_python {
    top:-25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_html {
    top:26.824%;
    left: -21.329%;
    transform: translate(-50%, -50%);
} */

.text_pres {
    text-align: center;
    color: white;
    margin: 5px;
}
.nom {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.3em;

}
.travail {
    font-weight: 100;
    font-family: 'Archivo', sans-serif;
    font-size: 1.1em;
}


/* Profil */
.profile {
    display: flex;
    flex-direction: column;
    background-color: var(--backgr-zone2);
    /* background-image: url(Images/petales.png);
    background-size: 600px; */
}
.plan {
    height: calc(var(--width-story)*0.7);
    width: var(--width-story);
    display: block;
    position: relative;
    margin-bottom: 30px;
    
}
.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 13vw;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 0.8em;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}

.mini_circle {
    position: absolute;
    display: block;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    background: radial-gradient(circle at 1px 1px, var(--backgr-nav-color), white);
    box-shadow: 3px 3px 4px 4px white;
}
.in_circle {
    z-index: 20;
    text-shadow: 0 0 5px white;

}

#step1 {
    top: 16%;
    left: 32%;
    z-index: 2;
}

#step2 {
    top: 14%;
    left: 79%;
    z-index: 4;
}

#step3 {
    top: 52%;
    left: 87%;
    z-index: 6;
}

#step4 {
    top: 50%;
    left: 55%;
    z-index: 8;
}

#step5 {
    top: 57%;
    left: 25%;
    z-index: 10;
}

#step6 {
    top: 86%;
    left: 43%;
    z-index: 12;
}

.path {
    height: calc(var(--width-story)*0.3);
    width: calc(var(--width-story)*0.3);
    position: absolute;
}
.position_img_long {
    transform: translate(0,-10%);
}
.position_img {
    transform: translate(-25%,5%);
}
.path_img {
    transform: rotate(130deg);
    height: calc(var(--width-story)*0.3);
}
#path0 {
    top: 13%;
    left: 16%;
    transform: translate(-50%, -50%) rotate(-150deg);
    z-index: 1;
}
#path1 {
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(5deg);
    z-index: 3;
}
#path2 {
    top: 32%;
    left: 87%;
    transform: translate(-50%, -50%) rotate(80deg);
    z-index: 5;
}
#path3 {
    top: 54%;
    left: 72%;
    transform: translate(-50%, -50%) rotate(175deg);
    z-index: 7;
}
#path4 {
    top: 49%;
    left: 38%;
    transform: translate(-50%, -50%) rotate(-10deg);
    z-index: 9;
}
#path5 {
    top: 77%;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-130deg);
    z-index: 11;
}
#path6 {
    top: 85%;
    left: 59%;
    transform: translate(-50%, -50%) rotate(170deg);
    z-index: 13;
}




.text_bloc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tome {
    background-color: var(--backgr-zone1);
    font-family: 'Archivo Black', sans-serif;
    color: white;
    align-self: center;
    width: 50vw;
    align-self: flex-start;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -2vw;
    padding: 5px 20px;

}
.text_bloc p {
    width: 80%;
    margin: 0 10% 20px 10%;
    
}

/* Work */
.work {
    background-color: var(--backgr-zone1);
    /* background-image: url(Images/petales.png);
    background-size: 600px; */
}
.header_proj {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    color: white;
}
.bloc_click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgr-nav-color);
    border-radius: 15px;
    padding: 0 2vw;
    width: 25%;
    min-width: calc(350px - 4vw);
    border: 5px white solid;
}
.bloc_github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgr-nav-color);
    border-radius: 15px;
    padding: 0 2vw;
    width: 25%;
    min-width: calc(350px - 4vw);
    border: 5px white solid;

}

.github {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;

}

.link_github {
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    margin-right: 5%;
    font-size: 1.2em;
}
.container_click {

    text-align: center;
}
.click {
    filter: brightness(100);
    margin-left: 10px;
}

.card_title:hover {
    background-color : rgb(189, 71, 71);
    color: white;
    border: 5px white solid;
}

.card_title.active {
    background-color: rgb(189, 71, 71);
    color: white;
    border: 5px white solid;
}

.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Largeur en prenant en compte les 2% de padding et les 180px de nav */
    width: calc(96vw - 180px);
}

.card {
    min-width: 50%;
}

.short_desc {
    display: block;
    position: relative;
    /* mettre z index à 1 en meme temps que display block */
    z-index: 0;
    font-weight: bolder;
}

.card_content {
    position: relative;
    background-image: linear-gradient(rgb(189, 71, 71), rgb(245, 215, 215));
    color: white;
    min-height: 20vh;
    /* on enlève 30px de padding */
    width: calc(96vw - 210px);
    top: -15px;
    padding: 15px;
    border-radius: 20px; 
    z-index: 1;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px white solid;
}

.card .right {
    left: calc((-96vw + 180px)/2);
}

.title_proj {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.desc_proj {
    width: 100%;
}

.bloc_img {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}
.conteneur_img_modal {
    display: flex;
    position: relative;
    background-color: rgba(238, 118, 118);
    height: 90vh;
    width: calc(90vw - 180px);
    margin: 0;
    top: 5%;
    left: calc(5vw + 180px);
}

.img_modal {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.btn_pres {
    width: 100%;
    text-align: center;   
}

/* CV */
.cv {
    background-color: var(--backgr-zone2);
    /* background-image: url(Images/petales.png);
    background-size: 600px; */
}
.cv p {
    text-align: center;
}

button {
    background-color: rgb(189, 71, 71);
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 8px 15px;
    font-family: 'Archivo Black', sans-serif;
    transition-duration: 0.2s;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

button:hover {
    color: white;
  }

.img_cv {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 70vh;
}

/* Me Suivre */
.follow {
    background-color: var(--backgr-zone1);
    /* background-image: url(Images/petales.png);
    background-size: 600px; */
}

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_linkedin {
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    font-size: 1.2em;
}

/* Media queries */
@media screen and (max-width: 900px) {
    :root {
        --text-size-nav: 1.1em;
        --text-size-nav-citation : 1em;
        --text-size-body: 1em;
        --text-size-big-title: 1.2em;
        --title-mini-size: 1.2em;
        --text-size-tome: 1.3em;
    }
    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        border-right: none;
    }
    .nav {
        height: 100%;
        flex-direction: row;
    }
    .nav_head {
        margin-left: 10px;
    }
    .photo_nav {
        height: 70px;
    }
    .nav_list {
        flex-direction: row; 
        height: 100%;  
        margin: 0;
        align-content: center;
        padding-left: 0;
    }
    .nav_item {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
    .nav_logo {
        display: none;
    }
    .nav_link {
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
        ;
    }

    .nav_footer {
        display: none;
    }

    .true_body {
        margin-left: 0;
        position:relative;
        /* background-image: url(Images/petales.png );
        background-size: 200px; */
    }
    .zone.home {
        height: calc(100vh + 80px);
    }
    .text_et_logo{
        bottom: calc(12vh + 80px);
    }
    .line {
        width: 80vw;
    }

    .big_title {
        margin-top: 80px;

    }
    .bloc_click {
        min-width: calc(250px - 4vw);
    }
    .bloc_github {
        min-width: calc(250px - 4vw);
    }
    .card_list {
        width: 96vw;
    }
    .bg_cerisier {
        width: 100vw;
        bottom: 35%;
    
    }
    .circle {
        display: none;
    }
    .in_circle {
        font-size: 0.7em;
    }
    .tome {
        font-size: var(--text-size-tome);
        width: 50vw;
    }
    .card_content {
        width: calc(96vw - 30px);
    }
    .card .right {
        left: calc(-96vw/2);
    }
    .conteneur_img_modal {
        height: calc(90vh - 80px);
        width: 90vw;
        top: calc(5vh + 80px);
        left: 5%;
    }
    .img_modal {
        top: calc(5vh + 80px);
    }
    .close {
        top: calc(1% + 80px);
        left: 5vw;
    }
}

@media screen and (max-width: 600px) {
    :root {
        /* Font size */
        --text-size-nav: 0.7em;
        --text-size-body: 0.9em;
        --text-size-big-title: 1.1em;
        --title-mini-size: 1em;
        --text-size-tome: 1em;
        --text-size-in-circle: 0.5em;
        --width-story: 90vw;
    }

    body {
        --screen : small;
    }
    .sidebar {
        height: 60px;
    }
    .nav_title {
        display: none;
    }
    .photo_nav {
        height: 60px;
        top: 0px;
    }
    .nav_logo {
        height: 25px;
    }
    .nav_link {
        margin-left: 0;
    }
    .zone.home {
        height: calc(100vh + 60px);
    }
    .text_et_logo{
        bottom: calc(12vh + 60px);
    }
    .group_logo {
        text-align: center;
        display: flex;
        justify-content: space-around;
        width: 50vw;
        min-width: 300px;
    }
    .logo_accueil {
        height: 50px;
    }
    .big_title {
        margin-bottom: 10px;
    }
    .plan {
        margin-left: 0px;
    }
    .in_circle {
        font-size: var(--text-size-in-circle);
    }
    .bloc_click {
        width: 60%;
        min-width: auto;
        margin-bottom: 10px;
    }
    .bloc_github {
        width: 60%;
        min-width: auto;
    }
    .header_proj {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_proj p {
        order: 2;
        margin: 0 10% 10px 10%;
    }
    .github {
        margin: 0 0 10px 0;
    }
    .logo_github {
        height: 40px;
    }
    .card {
        min-width: 100%;
    }
    .card .right {
        left: 0;
    }
    .conteneur_img_modal {
        height: calc(90vh - 60px);
        top: calc(5vh + 60px);
    }
    .img_modal {
        top: calc(5vh + 60px);
    }
    .close {
        top: calc(1% + 60px);
    }
}
@media screen and (max-height: 570px) {
    .nav_footer {
        display: none;
    }
}