/*========= Google fonts =========*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*========= Variables CSS =========*/
:root {
    /* Color */
    --backgr-color: linear-gradient(rgb(189, 71, 71) 25vh, rgb(245, 215, 215) 100vh);
    --backgr-nav-color: rgb(189, 71, 71);
    --backgr-proj: rgb(189, 71, 71);
    --text-body-color: black;
    --text-nav-color: white;
    --title-bg-color: rgb(247, 233, 235);
    --title-color: black;

    /* Font size */
    --text-size-nav: 1.3em;
    --text-size-nav-citation : 1em;
    --text-size-body: 1.2em;
    --text-size-big-title: 1.5em;
    --title-mini-size: 1.2em;

    /* Size of elements */
    --width-story: 80vw;
}
/*========= Comportement de base =========*/
html {
    scroll-behavior: smooth;
}

body {
    background-image: var(--backgr-color)  ;
    color: var(--text-body-color);
    margin: 0; 
}

.sidebar{
    font-family: 'Archivo Black', sans-serif;
}

a.nav_link {
    text-decoration: none;
    color: var(--text-color);
}
a {
    color: white;
}

ul {
    list-style: none;
}

.logo_linkedin {
    filter: invert(100%);
}

.zone {
    min-height: 100vh;
    padding: 2%;
}

.big_title {
    font-family: 'Archivo Black', sans-serif;
    font-size: var(--text-size-big-title);
    background-color: var(--title-bg-color);
    color: var(--title-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 40px;
    margin: 20px 10%
}

.card {
    width: 50%;
    margin-bottom: 30px;
    position: relative;
}

.card_title, .title_mini {
    font-family: 'Archivo Black', sans-serif;
    font-size: var(--title-mini-size);
    background-color: var(--title-bg-color);
    color: var(--title-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 40px;   
}

.card_title {
    margin: 10px 10%;
    width: auto;
    cursor: pointer;
}

.short_desc {
    margin: auto 10%;
}

.title_mini {
    align-self: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 2%;
}

.proj_img {
    max-height: 50vh;
    max-width: 100%;
    margin: 30px;
    cursor: pointer;
}

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    background-color: rgba(238, 118, 118, 0.3);
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 5;
}

.close {
    cursor: pointer;
    display: flex;
    position: relative;
    top: 2%;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0;
    background-color: steelblue;
    border: solid black;
    opacity: 1;
    font-size: 35px;
    font-weight: bolder;
    transform: rotate(45deg);
    z-index: 6;
}

/*========= Navbar =========*/
.sidebar {
    position: fixed;
    background-color: var(--backgr-nav-color);
    width: 180px;
    height: 100vh;
    margin: auto;
    font-size: var(--text-size-nav);
    z-index: 20;
}


.nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-nav-color);
}

.nav_head {
    display: flex;
    flex-direction: column;
    text-align:center;
    
    
}

.photo_nav {
    position: relative;
    top: -5px;
    height: 110px;
    clip-path: circle();
}

.nav_title {
    margin: 0;
    position: relative;
    top:-15px;
}

.nav_list{
    padding-left: 10px;
    flex:2;
    flex-direction: column;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.nav_link {
    margin-left: 10px;
}

.nav_item {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.nav_logo {
    height: 28px;
}

.nav_footer {
    font-family: 'Caveat', cursive;
    font-size: var(--text-size-nav-citation);
    padding: 10px;
}

/* Zone Centrale */

.true_body {
    margin-left: 180px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--text-size-body);
    background-image: url(Images/petales.png);
    background-size: 600px;
}

/* Accueil */

.bg_cerisier {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 65vw;
}

.circle {
    position: absolute;
    display: block;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at 50px 50px, var(--backgr-nav-color), white);
    box-shadow: 0px 0px 10px 4px white;
}

.logo_accueil {
    position: absolute;
    height: 100px;
    z-index: 1;
}

.logo_accueil:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: 0.5s;
}

/* Trigonométrie SOH CAH TOA */
.logo_django {
    top:110.676%;
    left: 5.916%;
    transform: translate(-50%, -50%);
}

.logo_css {
    top:26.824%;
    left: 121.329%;
    transform: translate(-50%, -50%);
}

.logo_js {
    top:110.676%;
    left: 94.083%;
    transform: translate(-50%, -50%);
}

.logo_python {
    top:-25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_html {
    top:26.824%;
    left: -21.329%;
    transform: translate(-50%, -50%);
}

.text_pres {
    text-align: center;
    z-index: 1;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 1.3em;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.4em;
}

/* Profil */
.plan {
    height: calc(var(--width-story)*0.7);
    width: var(--width-story);
    display: block;
    position: relative;
    margin-left: 20px;
    
}
.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 13vw;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 0.8em;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}

.mini_circle {
    position: absolute;
    display: block;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    background: radial-gradient(circle at 1px 1px, var(--backgr-nav-color), white);
    box-shadow: 3px 3px 4px 4px white;
}
.in_circle {
    z-index: 20;
    text-shadow: 0 0 5px white;

}

#step1 {
    top: 16%;
    left: 27%;
    z-index: 2;
}

#step2 {
    top: 14%;
    left: 74%;
    z-index: 4;
}

#step3 {
    top: 52%;
    left: 82%;
    z-index: 6;
}

#step4 {
    top: 50%;
    left: 50%;
    z-index: 8;
}

#step5 {
    top: 57%;
    left: 20%;
    z-index: 10;
}

#step6 {
    top: 86%;
    left: 38%;
    z-index: 12;
}

.path {
    height: calc(var(--width-story)*0.3);
    width: calc(var(--width-story)*0.3);
    position: absolute;
}
.position_img_long {
    transform: translate(0,-10%);
}
.position_img {
    transform: translate(-25%,5%);
}
.path_img {
    transform: rotate(130deg);
    height: calc(var(--width-story)*0.3);
}
#path0 {
    top: 13%;
    left: 11%;
    transform: translate(-50%, -50%) rotate(-150deg);
    z-index: 1;
}
#path1 {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    z-index: 3;
}
#path2 {
    top: 32%;
    left: 82%;
    transform: translate(-50%, -50%) rotate(80deg);
    z-index: 5;
}
#path3 {
    top: 54%;
    left: 67%;
    transform: translate(-50%, -50%) rotate(175deg);
    z-index: 7;
}
#path4 {
    top: 49%;
    left: 33%;
    transform: translate(-50%, -50%) rotate(-10deg);
    z-index: 9;
}
#path5 {
    top: 77%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-130deg);
    z-index: 11;
}
#path6 {
    top: 85%;
    left: 54%;
    transform: translate(-50%, -50%) rotate(170deg);
    z-index: 13;
}


.profile {
    display: flex;
    flex-direction: column;
}

.text_bloc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tome {
    font-family: 'Archivo Black', sans-serif;
    align-self: center;
}
.text_bloc p {
    width: 80%;
    margin: 0 10% 20px 10%;
    
}

/* Work */
.header_proj {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.github {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.link_github {
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    margin-right: 5%;
    font-size: 1.2em;
}
.click {
    position: absolute;
    left: 10%;
    top: 10px;
    transform: translate(-50%, -50%) rotate(160deg);
}

.card_title:hover {
    background-color : rgb(189, 71, 71);
    color: white;
}

.card_title.active {
    background-color: rgb(189, 71, 71);
    color: white;
}

.card_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Largeur en prenant en compte les 2% de padding et les 180px de nav */
    width: calc(96vw - 180px);
}

.card {
    min-width: 50%;
}

.short_desc {
    height: 30px;
    position: relative;
    /* mettre z index à 1 en meme temps que display block */
    z-index: 0;
    font-weight: bolder;
}

.card_content {
    position: relative;
    background-image: linear-gradient(rgb(189, 71, 71), rgb(245, 215, 215));
    color: white;
    min-height: 20vh;
    /* on enlève 30px de padding */
    width: calc(96vw - 210px);
    top: -41px;
    padding: 15px;
    border-radius: 20px; 
    z-index: 1;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.card .right {
    left: calc((-96vw + 180px)/2);
}

.title_proj {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.desc_proj {
    width: 100%;
}

.bloc_img {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.img_modal {
    position: relative;
    height: 90%;
    max-width: 90%;
    margin: 0;
    top: 5%;
    left: 20px;
}

.btn_pres {
    width: 100%;
    text-align: center;   
}

/* CV */

button {
    background-color: rgb(189, 71, 71);
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 8px 15px;
    font-family: 'Archivo Black', sans-serif;
    transition-duration: 0.2s;
}

button:hover {
    color: white;
  }

.img_cv {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 70vh;
}

/* Me Suivre */

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_linkedin {
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    font-size: 1.2em;
}

/* Media queries */
@media screen and (max-width: 900px) {
    .sidebar {
        position: sticky;
        top: 0;
        width: 100vw;
        height: 80px;
    }
    .nav {
        height: 100%;
        flex-direction: row;
    }
    .nav_head {
        margin-left: 10px;
    }
    .photo_nav {
        height: 70px;
    }
    .nav_list {
        flex-direction: row; 
        height: 100%;  
        margin: 0;
        align-content: center;
        padding-left: 0;
    }
    .nav_item {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    .nav_link {
        margin-top: 8px;
    }

    .nav_footer {
        display: none;
    }

    .true_body {
        margin-left: 0;
        position:relative;
        top: -80px;
        background-image: url(Images/petales.png );
        background-size: 200px;
    }
    .big_title {
        margin-top: 80px;

    }
    .card_list {
        width: 96vw;
    }
    .bg_cerisier {
        left: -4vw;
        max-width: 100vw;
    }
    .circle {
        display: none;
    }

    .text_pres {
        color: black;
        font-weight: bolder;
    }
    .in_circle {
        font-size: 0.7em;
    }
    .card_content {
        width: calc(96vw - 30px);
    }
    .card .right {
        left: calc(-96vw/2);
    }
}

@media screen and (max-width: 600px) {
    :root {
        /* Font size */
        --text-size-nav: 0.6em;
        --text-size-body: 0.9em;
        --text-size-big-title: 1.1em;
        --title-mini-size: 1em;
        --text-size-tome: 1em;
        --text-size-in-circle: 0.5em;
        --width-story: 100vw;
    }

    body {
        --screen : small;
    }
    .nav_title {
        display: none;
    }
    .photo_nav {
        height: 60px;
        top: 10px;
    }
    .nav_logo {
        height: 25px;
    }
    .nav_link {
        margin-left: 0;
    }
    .big_title {
        margin-bottom: 10px;
    }
    .plan {
        margin-left: 5px;
    }
    .in_circle {
        font-size: var(--text-size-in-circle);
    }
    .tome {
        font-size: var(--text-size-tome);
    }
    .header_proj {
        flex-direction: column;
    }
    .header_proj p {
        order: 2;
        margin: 0 10% 10px 10%;
    }
    .github {
        margin: 0 0 10px 0;
    }
    .logo_github {
        height: 40px;
    }
    .card {
        min-width: 100%;
    }
    .card .right {
        left: 0;
    }
}